.DS_Store
public
resources
.idea
notebook/content/.obsidian/workspace.json
notebook/assets/indices/linkIndex.json
notebook/assets/indices/contentIndex.jsonassets/indices/contentIndex.json
notebook/static/linkmapstatic/linkmap