<head>
    <meta charset="utf-8">
    
    <!-- Load style.css -->
    {{- with $res := resources.Get "css/styles.css" | resources.Minify -}}
        <link rel="stylesheet" href="{{ $res.RelPermalink }}">
    {{- end -}}
    
    <!-- Load response.js -->
    {{- with $res := resources.Get "js/response.js" | resources.Minify -}}
        <script src="{{ $res.RelPermalink }}"></script>
    {{- end -}}

    <!-- Code highlight -->
    {{- with $js := resources.Get "js/highlight.min.js" -}}
        {{- with $css := resources.Get "css/highlight/monokai-sublime.min.css" -}}
            <link rel="stylesheet" href="{{ $css.RelPermalink }}">
            <script src="{{ $js.RelPermalink }}"></script>
            <script>hljs.highlightAll();</script>
        {{- end -}}
    {{- end -}}

    <title>
        {{ .Title}}
    </title>
</head>