.DS_Store
notebook/resources
notebook/public
notebook/.idea
notebook/content/.obsidian/workspace.json
# notebook/assets/indices/linkIndex.json
# notebook/assets/indices/contentIndex.json

notebook/content/.obsidian
notebook/content/.trash
notebook/content/zotero
notebook/content/private
notebook/content/chgdairy
notebook/content/SimpRead

notebook/linkmap
notebook/static/linkmap
notebook/content/private