/*
    Pre-defined tags
*/

body {
  margin: 0;
  padding: 0;
  color:rgb(44, 44, 44);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #888;
}

a:visited {
  color: rgb(0, 102, 204);
}

a:visited:hover {
  color: #888;
}

.site-title a {
  text-decoration: none;
  color: black;
}

.single-article h1, .single-article h2, .single-article h3 {
  margin: 4rem 0 1.5rem;
  padding: 0.3rem 0.3rem;
}

.single-article h4, .single-article h5 {
  margin: 4rem 0 1.5rem;
  padding: 0.2rem 0;
}

.article-block h2 a {
  color: rgb(34, 101, 159);
}

.single-article h2 {
  color: rgb(34, 101, 159);
}

.single-article h3 {
  color: rgb(51, 133, 204);
}

p {
  margin: 1rem 0;
  padding: 0.1rem 0;
}

blockquote p {
  margin: 0;
  font-size: .8rem;
  color:rgb(56, 56, 56);
}

.single-article>p {
  width: 96.5%;
  margin-left: 2%;
}

blockquote {
  position: relative;
  background-color: rgba(244, 244, 244, 0.932);
  margin: 1rem;
  padding: 0.8rem 0.3rem 0.8rem 1.5rem;
  border-radius: 0.5rem;
}

blockquote::before {
  content: '';
  position: absolute;
  top: 10%;
  left: 0.4rem;
  width: 4px;
  height: 80%;
  background-color: #97bddf;
  border-radius: 2px;
}

code {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

p code {
  background-color: #f5f5f5;
  color: #da1039;
  padding: .15rem .2rem;
  margin: .1rem .1rem;
  font-size: .875rem;
  border-radius: 6px;
}

pre code {
  margin: 1rem;
  border-radius: .7rem;
  font-size: .9rem;
}


/*
  Self-defined class
*/

#content {
  width: 70%;
  margin: 3rem auto;
  padding: 1rem 2rem;
  border: 1px solid #97bddf;
  box-shadow: 0px 2px 8px 8px rgba(240, 240, 240, 0.77); 
  border-radius: 1rem;
}

.article-title {
  background-color: aliceblue;
}

.article-block .article-title {
  background-color: rgb(255, 255, 255);
}

.article-block {
  border: 2px solid aliceblue; 
  border-radius: .5rem;
  width: 98%; 
  margin: auto; 
  margin-top: 10px;
}

.noselect {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.site-title {
  background-color: aliceblue;
  padding: .3rem 0;
  font-size: 1.3rem;
  font-family: 'Kristen ITC'; 
}

.single-title {
  text-align: center;
}

.wrap {
  margin: .5rem;
}